.vs/**
**/bin/**
**/obj/**
/*.suo
/pkg/
/TestResult.xml
/packages/AvalonEdit.*
/TestResults
/build/.fake
/packages/CommonServiceLocator.*
/packages/Expression.Blend.Sdk.*
/packages/Plainion.*
/packages/Prism.*
/packages/NUnit.*
/packages/Unity.*
/packages/System.*
/Plainion*.gc.*
